/*base styles*/
html, .row{
    padding-left: -15px;
    padding-right: -15px;
    margin: 0;
    font-size: 12px;
}

/*body styles*/

body{
    background-image:url('../img/header.jpg');
    height: 100%;
    background-repeat: repeat-y;
    background-size: cover; 
}

#heading{
    margin-top: 20px;
}

h1{
    text-align: center;
    background-color: #00e673;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 30px;
    border-radius: 20px;
}

h2{
    text-align: center;
    background-color: black;
    color:#00e673!important;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

p{
    margin-bottom: 1em;
    font-size: 2.5em;
    text-align: center;
}

.quotes{
    max-height: 1800px;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    font-size: 1em;
    color: whitesmoke;
}

/*button styles*/


button{
    height: 75px;
    margin-top: 300px;
   }


#btn-custom, #btn-custom2 {
    color:whitesmoke;
    background-color: teal;
    border-color: teal;
    font-size: 1.7em;
    font-weight: 400;
    white-space: pre-wrap;
    margin-top: 20px;
    border-radius: 20px;
}
 #btn-custom2{
     background-color: coral;
     border-color:coral;
 }


 #quit{
    background-color:black;
    border: black;
    border-radius: 20px;
    white-space: pre-wrap;
    color:  #00e673;
    font-size: 1.7em;
    font-weight: 400;
    margin-top: 30px;
    height: 100%;

}

/*form styles*/

input{
    border-radius:20px;
   text-align: center;
   color: black;
   font-weight: 700;
       
   }
   
label{
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 30px;
    color:whitesmoke;
    text-align: center;
}

/* media queries */




@media(min-width: 768px ){
    

    .quotes, #quit, label, #btn-custom, #btn-custom2{
        font-size: 1.7em;
    }
    #quit{
        font-size: 2em;
    }
    #numberOfQuotes{
        
        font-size: 1.5em;

    }
    label{
        color: whitesmoke;
    }
    body{
        background-image:url('../img/header.jpg');
        height: 100%;
        background-repeat: repeat-y;
        background-size: cover; 
    }
    #heading{
        font-size: 3em;
    }

    p{
        margin-bottom: 1em;
        font-size: 2.5em;
        text-align: center;
    }
}
    
@media(min-width: 992px ){
    

    .quotes, #quit, label, #btn-custom, #btn-custom2{
        font-size: 1.2em;
    }
    #quit{
        font-size: 1.4em;
    }
    #numberOfQuotes{
        
        font-size: 1.5em;

    }
    label{
        color: whitesmoke;
        font-size: 1.2em;
    }
    body{
        background-image:url('../img/header.jpg');
        height: 100%;
        background-repeat: repeat-y;
        background-size: cover; 
    }
    #heading{
        font-size: 2.2em;
    }

    p{
        margin-bottom: 1em;
        font-size: 2.5em;
        text-align: center;
    }

    
}
@media (min-width: 576px) {
    .quotes, #quit, label, #btn-custom, #btn-custom2{
        font-size: 3em;
    }
    #btn-custom, #btn-custom2{
        height: 150px;
        white-space: pre-wrap;
    }
    #numberOfQuotes{
        height: 50px;
        font-size: 3em;

    }
    #heading{
        font-size: 4em;
    }

    #sub-heading {
        font-size: 3em;
    }
    body{
        background-image:url('../img/header.jpg');
        height: 100%;
        background-repeat: repeat-y;
        background-size: cover; 
    }
   label{
       color: whitesmoke;
   }

   p{
    margin-bottom: 1em;
    font-size: 3em;
    text-align: center;
    color:white;
}
}

@media (min-width: 1200px) {

    .quotes, #quit, label, #btn-custom, #btn-custom2{
        font-size: 1.9em;
    }
    #quit{
        font-size: 2em;
    }
    #numberOfQuotes{
        
        font-size: 1.5em;

    }
    label{
        color: whitesmoke;
    }
    body{
        background-image:url('../img/header.jpg');
        height: 100%;
        background-repeat: repeat-y;
        background-size: cover; 
    }
    #heading{
        font-size: 3em;
    }
    #sub-heading{
        font-size: 2em;
    }
    p{
        margin-bottom: 1em;
        font-size: 2.5em;
        text-align: center;
    }

}

@media (min-width: 1400px) {

    .quotes, #quit, label, #btn-custom, #btn-custom2{
        font-size: 2.2em;
    }
    #quit{
        font-size: 2.1em;
    }
    #numberOfQuotes{
        
        font-size: 1.5em;

    }
    label{
        color: whitesmoke;
    }
    body{
        background-image:url('../img/header.jpg');
        height: 100%;
        background-repeat: repeat-y;
        background-size: cover; 
    }
    #heading{
        font-size: 4.5em;
    }
    #sub-heading{
        font-size: 2.7em;
    }
    p{
        margin-bottom: 1em;
        font-size: 2.5em;
        text-align: center;
    }

}

@media (min-width: 1680px) {

    .quotes, #quit, label, #btn-custom, #btn-custom2{
        font-size: 2.5em;
    }
    #quit{
        font-size: 2.3em;
    }
    #numberOfQuotes{
        
        font-size: 1.5em;

    }
    label{
        color: whitesmoke;
    }
    body{
        background-image:url('../img/header.jpg');
        height: 100%;
        background-repeat: repeat-y;
        background-size: cover; 
    }
    #heading{
        font-size: 4.5em;
    }
    #sub-heading{
        font-size: 2.7em;
    }
    p{
        margin-bottom: 1em;
        font-size: 2.5em;
        text-align: center;
    }

}

@media (min-width: 0px) and (max-width: 575px) {
    .quotes, #quit, label, #btn-custom, #btn-custom2{
        font-size: 1.6em;
    }
    #quit{
        font-size: 1.6em;
    }
    #numberOfQuotes{
        
        font-size: 1.5em;

    }
    label{
        color: whitesmoke;
    }
    body{
        background-image:url('../img/header.jpg');
        height: 100%;
        background-repeat: repeat-y;
        background-size: cover; 
    }
    #heading{
        font-size: 1.5em;
    }
    #sub-heading{
        font-size: 1.5em;
    }
    p{
        margin-bottom: 1em;
        font-size: 2em;
        text-align: center;
    }

    button{
        height: 100px;
    }
}



